<!DOCTYPE html>
<html>
<head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href= http://localhost:3000> Índice </a>
<h1><%= title %></h1>
<p>Marta de Miguel Ramos</p>
</body>
</html>