<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href= http://localhost:3000/credits> Créditos</a>
<a href= http://localhost:3000/quizzes> Quizzes</a>
<h1><%= title %></h1>
<p> Bienvenido <%= title %></p>
</body>
</html>