//La vista recibirá un array de quizzes que debe mostrar al usuario en la página HTML que renderiza---bucle

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Quizzes disponibles:</h1>
<ol>
    <% for (var i in quizzes) {%>
    <% var quiz=quizzes[i] %>
    <li>
        <%= quiz.question%> : <%=quiz.answer %>
    </li>
    <% } %>
</ol>
</body>
</html>